<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableChartTension</key>
	<string>profileContextDistance</string>
	<key>decorationVersusTask</key>
	<string>buttonIncludeFramework</string>
	<key>mediaqueryFunctionFormat</key>
	<string>localStampDelay</string>
	<key>secondEntityMode</key>
	<string>viewFunctionState</string>
</dict>
</plist>
