<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarOfVar</key>
	<string>pivotalConvolutionVelocity</string>
	<key>nextToolBorder</key>
	<string>presenterPerVisitor</string>
	<key>repositoryFlyweightSpeed</key>
	<string>durationStrategyMomentum</string>
</dict>
</plist>
