<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonModeOrientation</key>
	<string>grainLayerForce</string>
	<key>cubeProxyColor</key>
	<string>sinkAboutKind</string>
	<key>gridviewBufferAppearance</key>
	<string>providerAsValue</string>
	<key>localizationBySingleton</key>
	<string>histogramVersusMode</string>
	<key>multiHashTheme</key>
	<string>synchronousHeroFrequency</string>
	<key>optimizerOrMediator</key>
	<string>sizeAlongNumber</string>
	<key>segmentShapeFlags</key>
	<string>stepAlongCycle</string>
	<key>semanticUsecaseVisibility</key>
	<string>gridviewChainType</string>
	<key>subpixelStateIndex</key>
	<string>optimizerOfScope</string>
</dict>
</plist>
