<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateLevelDelay</key>
	<string>retainedStoryboardFeedback</string>
	<key>disabledMobxBorder</key>
	<string>shaderExceptObserver</string>
	<key>missedListenerTag</key>
	<string>composableSubscriptionFlags</string>
	<key>overlayDespiteWork</key>
	<string>convolutionMediatorIndex</string>
	<key>rapidConstraintLocation</key>
	<string>similarManagerSaturation</string>
	<key>singleSpineMomentum</key>
	<string>denseStorageTension</string>
	<key>spriteMediatorPosition</key>
	<string>geometricFrameDepth</string>
	<key>transitionBesideStyle</key>
	<string>capsuleParameterCoord</string>
</dict>
</plist>
