<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>listenerDecoratorSkewx</key>
	<string>boxshadowWithMediator</string>
	<key>movementPlatformAppearance</key>
	<string>textAlongStructure</string>
	<key>sortedFutureStyle</key>
	<string>entropyContainMemento</string>
	<key>viewOperationBrightness</key>
	<string>buttonVersusInterpreter</string>
</dict>
</plist>
