<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineBridgeScale</key>
	<string>unsortedSceneVisible</string>
	<key>channelTypeAcceleration</key>
	<string>inactiveLossFlags</string>
	<key>instructionBeyondDecorator</key>
	<string>navigationContainFramework</string>
	<key>originalListenerTail</key>
	<string>variantFunctionTail</string>
	<key>queueBeyondStyle</key>
	<string>numericalAsyncAcceleration</string>
	<key>tappableRichtextPadding</key>
	<string>seamlessMatrixDirection</string>
</dict>
</plist>
